#parent-rel{
  height: 200px;
  width: 300px;
  background-color: purple;
  border-width: 2px 4px 6px 8px;
  border-style: solid;
  border-color: red;
  border-radius: 4px;
}

#child-rel{
  height: 50%;
  width: 50%;
  background-color: cyan;
}

#sample-para {
  border: 2px solid red;
}

#samplepara {
  border-left: 4px solid red;
  border-bottom: 4px solid red;
}
